<%- include('header'); -%>

<!-- including the file from header.ejs -->


<h1>Quote:</h1>
<p>If not me, who? If not now, when?</p>

<%- include('footer'); -%>
<!-- including the file from footer.ejs -->